@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Email não confirmado";
}

<h1 class="text-danger">A sua conta não foi ainda confirmada. Por favor dirija-se ao seu email e confirme a sua conta.</h1>

<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Voltar ao Início", "Index")
        </div>
    }
</div>


