@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title </h2>
<h3>Ténis Clube de Tomar</h3>

<p>Este website foi desenvolvido no âmbito da cadeira de Tecnologias Internet II, curso de Engenharia Informática.</p>
