@{
    ViewBag.Title = "Contactos";
}
<h2>@ViewBag.Title.</h2>

<div class="container-base">
    <div class="row">
        <div class="col-md-10">
            <h3>A minha Informação</h3>
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">
            <address>
                <strong>Discente:</strong>Pedro Dias<br />
                <strong>Número:</strong>17108<br />
            </address>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">
            <address>
                <strong>Email principal :</strong>   <a href="diaspedro1999@hotmail.com">diaspedro1999@hotmail.com</a><br />
                <strong>Email IPT :</strong> <a href="aluno17108@ipt.pt">aluno17108@ipt.pt</a>
            </address>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">
            <br />
            <h4>Registo "Amiinistrador" do website</h4>
            <address>
                <strong>Utilizador:</strong>admin@a.aa<br />
                <strong>Password:</strong>123_Aa<br />
                <strong>Nome:</strong>Admin<br />
            </address>
            <h4>Registo "Moderador" do website</h4>
            <address>
                <strong>Utilizador:</strong>c@c.cc<br />
                <strong>Password:</strong>123_Aa<br />
                <strong>Nome:</strong>Fábio Ferreira<br />
            </address>
            <h4>Registo "Jornalista" do website</h4>
            <address>
                <strong>Utilizador:</strong>a@a.aa<br />
                <strong>Password:</strong>123_Aa<br />
                <strong>Nome:</strong>Pedro Dias<br />
            </address>
            <address>
                <strong>Utilizador:</strong>b@b.bb<br />
                <strong>Password:</strong>123_Aa<br />
                <strong>Nome:</strong>Fábio Salvador<br />
            </address>
            <h4>Registo "Default" do website (exemplo pois há vários)</h4>
            <address>
                <strong>Utilizador:</strong>d@d.dd<br />
                <strong>Password:</strong>123_Aa<br />
                <strong>Nome:</strong>Tiago Henriques<br />
            </address>
        </div>
    </div>
