

@{
    ViewBag.Title = "Página Inicial";
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        <strong>Erro!</strong>
        Ocorreu um erro: @TempData["Error"].ToString() .
    </div>
}

<div class="container">
    <div class="jumbotron">
        <img src="~/Imagens/simboloclube.jpg" style="width:150px;" /><h1>TÉNIS CLUBE DE TOMAR</h1>
        <p class="lead"></p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Torneios</h2>
            <p>Notícias referentes a torneios do clube a decorrer ou já terminados.</p>
            <p>@Html.ActionLink("Ir", "Index", "Noticias", new { searchString = "Torneios" }, new { @class = "btn btn-default" })</p>
        </div>
        <div class="col-md-4">
            <h2>Clube</h2>
            <p>Notícias referentes a atletas do clube ou o próprio clube e treinadores do clube.</p>
            <p>@Html.ActionLink("Ir", "Index", "Noticias", new { searchString = "Clube" }, new { @class = "btn btn-default" })</p>
        </div>
        <div class="col-md-4">
            <h2>Torneios</h2>
            <p>Notícias referentes a jogadores internacionais, tópicos sobre ténis e torneios internacionais.</p>
            <p>@Html.ActionLink("Ir", "Index", "Noticias", new { searchString = "Notícias" }, new { @class = "btn btn-default" })</p>
        </div>
    </div>


</div>



