@{
    ViewBag.Title = "Esqueceu-se da Confirmação da Password";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Por favor, verifique o seu Email para restaurar a password.
    </p>
</div>
	
